body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    font-family: "Poppins", sans-serif;
    margin: 50px auto;
    min-height: 100vh;
}

.header {
    border-bottom: 2px solid;
}

.header-title {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    letter-spacing: 10px;
    text-align: center;
}

.body-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.formBtn {
    color: #ff6f47;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 2rem;
    border: none;
}

.formBtn:hover {
    background: #ff6f47;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin: 5px;
}

.library-wrapper {
    margin: 20px;
    width: 500px;
}

.book-card {
    background: linear-gradient(120deg, #c2a139 0%, #f9a38a 100%);
    border: 1px solid black;
    border-radius: 5px;
    color: darkslategray;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 10px;
    padding: 20px 0;
    width: 80%;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.detailsWrapper {
    margin-left: 10px;
    max-width: 250px;
}

.book-detail {
    overflow: hidden;
    padding: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal {
    display: none;
    position: fixed;
    padding: 100px;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}